.container {
    width: 100%; 
    height: auto;
    max-width: 66vh;
    background-color: rgb(220, 219, 219);
    margin-top: 100px;
    overflow-x: visible;
}

.customHr {
    width: 50vw; 
    height: 3px;
    background-color:  var(--gold);
    border: none;
    margin: 16px auto; 
  }

  