.container {
    width: 100%;
    height: auto;
    max-width: 100vh;
    max-height: 70vh;
    background-color: rgb(220, 219, 219);

  
    margin-top: 100px;
}


.customHr {
    width: 70vw; 
    height: 3px;
    background-color:  var(--gold);
    border: none;
    margin: 16px auto; 
  }