.flex {
    display: flex;
}

.flex button img{
    width:25px;
    background: white;
}

.quantity {
    font-family: "Cinzel", sans-serif;
    font-size: clamp(16px, 4vw, 19px); 
    font-weight: 600;
    margin: 0 1vw;
}

button{
    background-color: white;
}


