
.title{
    font-size: clamp(22px, 2vw, 14px);
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 100%;

}
/* icone edit */ 
.icons img {
    width: 1.5vw;
    margin-right:0.3vw;
}

/*icone delete */
.icons button {
    background-color: white;
}
/*icone delete */
.icons svg {
    width: 2.5vw;
    height: 2.5vh;
    margin-left: 1.5vw;
}

.img {
    width: 26vw;
    height: 30vh;
    margin : 0 4vw 0 2vw;
    box-shadow: .3vw .3vw .5vw 0px rgba(0, 27, 180, 0.47);
}

.sizecard li {
    margin: 5vw 0;
    border-left: var(--gold) solid 5px;

}
.custom {
    font-size: clamp(12px, 2vw, 10px);
}

.borderQuantity{
    border: var(--pink) 3px solid;
    /* border-radius:6px; */
    text-align: center;
    margin-top: 1vh;
    width: 4vw;
    padding:5px;
    font-weight: bold;
}

.ingredient{
    display: flex;
}

.sizeImage{
    width: 60%;
    /* height: 100%; */
    object-fit: cover;
    
}

@media (max-width: 900px) {
    /*  414px pour cibler la largeur de l'iPhone */
  .pickerFlex {
   position: relative;
}
    .flexColumn{
        flex-direction: column;
        
    }

    .img {
        width: 33vw;
        height: 22vh;
    }

    .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    /* width: 16px; */
    margin-left: -22rem;
    margin-top: 4rem;
    width: 359px;
    
    }

    .icons svg {
    display: flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
    margin-top: -36px;
    }

    .pen{
        position: absolute;
    }

    .sizecard li {
        margin: 17vw 0;
        border-left: var(--gold) solid 5px;
    
    }
    .title{
        font-size: clamp(14px, 4vw, 16px);
    }
}