.cartPage{
    width:80vw;
    margin: 0 auto;
}

img{
    object-fit: cover;
}

/* h1 */
.title {
    text-align: center;
    margin: 11vh 0 5vh;

}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 5vh 0;
}

/* p => panier*/
.flex p {
    color: var(--blue);
    font-family: Roboto;
    font-size: clamp(10px, 2vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.retour {
    position: absolute;
    margin: 2vw 0;
 }

/*Button vider le panier */
.flex button {
    color: var(--pink);
    font-family: 'Roboto', sans-serif;
    font-size: clamp(10px, 2vw, 20px);
    font-style: normal;
    background: none;
}

.total{
    font-weight: bold;
    text-align: right;
    margin:15vh 0 5vh;
    font-size: clamp(10px, 2vw, 20px);
}

.emptyCart{
    margin-bottom: 5vh;
}


@media(max-width: 900px){
    .cartPage{
        width: auto;
        width: 90%;
    }
    
    
}