.cartPage{
    width:80vw;
    margin: 0 auto;
}

/* h1 */
.title {
    text-align: center;
    margin: 11vh 0 5vh;
    font-weight: normal;

}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

/* p => panier*/
.flex p {
    color: var(--blue);
    font-family: Roboto;
    font-size: clamp(10px, 2vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/*Button vider le panier */
.flex button {
    color: var(--pink);
    font-family: 'Roboto', sans-serif;
    font-size: clamp(10px, 2vw, 20px);
    font-style: normal;
    background: none;
}

.total{
    font-weight: bold;
    text-align: right;
    margin:1vh 0 5vh;
    font-size: clamp(10px, 2vw, 20px);
}

.emptyCart{
    margin-bottom: 5vh;
}

@media(max-width: 900px){
    .cartPage{
        width: auto;
    }
    
}