.orderPage{
    width:80vw;
    margin: 20vh auto 0;
}

.infos{
    margin-bottom:3vh;
}
.infos p {
    font-size: clamp(15px, 1vw, 10px);
}

/* h1 */
.title {
    text-align: center;
    margin: 11vh 0 8vh;
    font-weight: normal;

}
/* total */
.total{
    font-weight: bold;
    text-align: right;
    margin:1vh 0 5vh;
    font-size: clamp(20px, 2vw, 10px);
    display: flex;
    justify-content: space-between;
}
