.menu {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* Utilisation d'auto-fit */
    grid-column-gap: 15px;
    grid-row-gap: 70px;
}

.selected{
    /* background-color: var(--pink); */
}