.menu {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    justify-content: center;
}

.selected{
    /* border: solid var(--pink); */
    color: var(--pink);
    /* background-color: var(--pink);
    color: white; */
}

.open {
    display: block;
}

.closed {
    display: none;
}

.filterButton{
    background-color: white;
}

.filterButton img {
    height: 60px;
}

/* ul{
    display: flex;
    grid-gap: 15px;
} */

.customNav{
    display: block;
}

@media(max-width: 1400px){
    .customNav{
        display: flex;
    }
}