 .overlay{
    background-color : rgba(0,27,180,0.5);
    height:100vh;
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    z-index:99;
}

.modalContent{
    max-width: 40vw;
    height: 75vh;
    border: var(--gold) solid 5px;
    text-align: center;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
    position: fixed;
    top: 15vh;
    right:0;
    left:0;
}

@media(max-width : 1500px){
    .modalContent{
        max-width: 60vw;
    }
}

@media(max-width : 1000px){
    .modalContent{
        max-width: 70%;
    }
}