.header {
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 174, 10, 0.65) 0.01%, rgba(245, 122, 41, 0.602054) 0.02%, rgba(223, 0, 113, 0.48) 0.03%, rgba(223, 0, 113, 0.36) 33.8541%, rgba(255, 179, 26, 0.47) 72.3958%, rgba(255, 179, 26, 0) 100%);
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-top: 10px;
    width: 10vw; 
}

.panier{
    margin-top: 1vh;
    width: 1vw;
    min-width: 3.5vw; 
    height: auto;
}
.flex{
    display: flex;
   align-items: center;
   margin-top: 2vw;
}

.borderQuantity{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    width: 3vw;
    height: 3vw;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    box-sizing: border-box; 
    margin-left:20px;
    position: absolute;
    margin-top: 4rem;
    margin-left: 2rem;
    
}


.quantity{
    height: 100%;
    font-size: clamp(10px, 2vw, 20px);
    color: white;
    align-items: center; 
    display: flex;
    margin: 0;
}
  
.burger{
    display: none;        
}

@media(max-width: 900px){
    .panier{
        display: none;
    }

    .burger,.customBurger{
        display: block;
        background: none;
    }

    .menuBurger img{
        height: 50px;
    }

    .burgerIcon{
        display: block;
        cursor: pointer;
        margin: 0px 16px 0 0;
        position: absolute;
        right: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .line{
        display: block;
        width: 40px;
        height: 6px;
        border-radius: 61px;
        margin: 5px;
        background-color: var(--pink);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .open {
        display: block;
    }
    
    .closed {
        display: none;
    }

}