.list {
    display: flex;
    justify-content: center;
    /* font-family: 'Cinzel', serif; */
    gap: clamp(10px, 2vw, 63px); 
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 466;
    margin-top: 4vw;
    text-shadow: -4px 3px 5px rgba(0, 27, 180, 0.4);
    font-size: 30px;
    font-style: normal; 
    font-weight: 466;
    line-height: normal;
    
}

.link{
    color : inherit;
}


@media (max-width: 900px) {
    /*  414px pour cibler la largeur de l'iPhone */
    /* .list {} */

  .navBar{
    display: none;
    }
}

/* @media(max-width: 900px){
    .list{
        display: none;
    }
    
} */