.list {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
    gap: clamp(10px, 2vw, 63px); 
    font-size: clamp(5px, 2vw, 35px);
    font-weight: 466;
   margin-top: 4vw;
    
}

.list :active{
    color: var(--pink);
}


@media (max-width: 414px) {
    /*  414px pour cibler la largeur de l'iPhone */
  .list {}
}

@media(max-width: 900px){
    .list{
        display: none;
    }
}