.list {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
    gap: clamp(10px, 2vw, 63px); 
    font-size: clamp(5px, 2vw, 30px);
    font-weight: 466;
    padding-top: 46px;
    
}

.list :active{
    color: var(--pink);
}

@media(max-width: 1200px){
    .list{
        display: none;
    }
}