:root {
  --blue: #001BB4;
  --gold: #FFB31A;
  --pink: #DF0071;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
}

a, ul{
  text-decoration: none;
  list-style: none;
  color: var(--blue);
}

h1, h2, h3, h4 {
  color : var(--blue);
  font-family: 'Cinzel', serif;
  font-size: clamp(15px, 2vw, 30px);
}

p{
  color : var(--blue);
  font-family: 'Roboto', sans-serif;
  font-size: clamp(5px, 2vw, 15px);
}

button {
  border : none;
  cursor: pointer;
  /* background-color: white; */
}
--- 
body {
  overflow-x : hidden;
  
}

img{
  object-fit: cover;
}

@media (min-width: 1430px) {
  main{
    /* max-width: 90vw; */
    min-height: 60vh;
    margin: auto;
  }
  
}

@media (max-width: 1121px) {
  main{
    /* max-width: 90vw; */
    min-height: 65vh;
    margin: auto;
  }
  
}

 /* main, article, section, div{
  border: solid 2px black;
} */